/* I²C für OLEDs */
&i2c1 {
    status = "okay";

    /* Linkes OLED auf rechter Seite deaktiviert */
    oled_left: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "OLED_LEFT";
        width = <128>;
        height = <32>;
        status = "disabled";
    };

    oled_right: ssd1306@3d {
        compatible = "solomon,ssd1306fb";
        reg = <0x3d>;
        label = "OLED_RIGHT";
        width = <128>;
        height = <32>;
        status = "okay";
    };
};

/* SK6812 LEDs */
&spi1 {
    status = "okay";
    ws2812: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        label = "WS2812";
        spi-max-frequency = <4000000>;
        chain-length = <30>; /* Anzahl deiner LEDs */
        data-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};
